body {
    width: 100%;
    background-color: grey;
}

ul{
    background-color: black;
    padding-left: 0;
    width: 100%;
}

li {
    display: inline;
    color: white;
}

.content {
    clear: both;
}